<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800934698866-u14ud49cn5427em5on6dolfkerrr4b6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800934698866-u14ud49cn5427em5on6dolfkerrr4b6g</string>
	<key>API_KEY</key>
	<string>AIzaSyDo-f0d3qNQTXBpuKX3xbk7FJXa1n4Ts6o</string>
	<key>GCM_SENDER_ID</key>
	<string>800934698866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avation.vivally</string>
	<key>PROJECT_ID</key>
	<string>vivally-19659</string>
	<key>STORAGE_BUCKET</key>
	<string>vivally-19659.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800934698866:ios:89f948a007ed272c2e87eb</string>
	<key>DATABASE_URL</key>
	<string>https://vivally-19659.firebaseio.com</string>
</dict>
</plist>